h2 {
  position: relative;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border-bottom: 3px solid #6600cc;
}

h2:before {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 20%;
  height: 3px;
  content: '';
  background: #CC99FF;
}

h3 {
 position: relative;
 padding: 1rem 2rem;
 text-align: center;
 color: #;
 border-radius: 10px 10px 10px 10px;
 background: #CC99FF;
 text-align: left !important;
 font-size: 1.3rem;
}

table {
  font-size: 1.0rem;
}

ul {
  font-size: 1.2rem;
}
