 <div class="boxContainer">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_b461f"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/{{ .Get 0 }}/?exchange={{ .Get 1 }}" rel="noopener" target="_blank"><span class="blue-text">{{ .Get 0 }}チャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "{{ .Get 1 }}:{{ .Get 0 }}",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_b461f"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_f7127"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/ETHUSD/?exchange=FTX" rel="noopener" target="_blank"><span class="blue-text">ETHUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "FTX:ETHUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_f7127"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
</div>

 <div class="boxContainer">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_72d31"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/SOLUSD/?exchange=BINANCEUS" rel="noopener" target="_blank"><span class="blue-text">SOLUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCEUS:SOLUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_72d31"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_e5039"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/RAYUSD/?exchange=FTX" rel="noopener" target="_blank"><span class="blue-text">RAYUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "FTX:RAYUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_e5039"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_c1314"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/MNGOUSD/?exchange=FTX" rel="noopener" target="_blank"><span class="blue-text">MNGOUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "FTX:MNGOUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_c1314"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
</div>
 <div class="boxContainer">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_2103d"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/BNBUSD/?exchange=BINANCEUS" rel="noopener" target="_blank"><span class="blue-text">BNBUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCEUS:BNBUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_2103d"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_377ec"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/CAKEUSD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">CAKEUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCE:CAKEUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_377ec"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->

</div>

 <div class="boxContainer">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_ce0f0"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/CELOUSD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">CELOUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCE:CELOUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_ce0f0"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
</div>
