 <div class="boxContainer">

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_b461f"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/{{ .Get 0 }}/?exchange={{ .Get 1 }}" rel="noopener" target="_blank"><span class="blue-text">{{ .Get 0 }}チャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "{{ .Get 1 }}:{{ .Get 0 }}",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_b461f"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_f7127"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/ETHUSD/?exchange=FTX" rel="noopener" target="_blank"><span class="blue-text">ETHUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "FTX:ETHUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_f7127"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_15f5e"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/FTTUSD/?exchange=FTX" rel="noopener" target="_blank"><span class="blue-text">FTTUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "FTX:FTTUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_15f5e"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_cc888"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/XRPUSD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">XRPUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCE:XRPUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_cc888"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
</div>

<h3>Solana</h3>
 <div class="boxContainer">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_72d31"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/SOLUSD/?exchange=BINANCEUS" rel="noopener" target="_blank"><span class="blue-text">SOLUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCEUS:SOLUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_72d31"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_e5039"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/RAYUSD/?exchange=FTX" rel="noopener" target="_blank"><span class="blue-text">RAYUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "FTX:RAYUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_e5039"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_66c89"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/SRMUSD/?exchange=FTX" rel="noopener" target="_blank"><span class="blue-text">SRMUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "FTX:SRMUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_66c89"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_c1314"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/MNGOUSD/?exchange=FTX" rel="noopener" target="_blank"><span class="blue-text">MNGOUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "FTX:MNGOUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_c1314"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_cb10f"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/FIDAUSD/?exchange=FTX" rel="noopener" target="_blank"><span class="blue-text">FIDAUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "FTX:FIDAUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_cb10f"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
</div>

<h3>BSC</h3>
 <div class="boxContainer">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_2103d"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/BNBUSD/?exchange=BINANCEUS" rel="noopener" target="_blank"><span class="blue-text">BNBUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCEUS:BNBUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_2103d"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_377ec"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/CAKEUSD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">CAKEUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCE:CAKEUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_377ec"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->

</div>

<h3>Fantom</h3>
 <div class="boxContainer">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_a81b5"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/FTMUSD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">FTMUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCE:FTMUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_a81b5"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
   </div>

<h3>Other</h3>
 <div class="boxContainer">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_a8a68"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/LUNAUSD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">LUNAUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCE:LUNAUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_a8a68"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_eab7d"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/AVAXUSD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">AVAXUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCE:AVAXUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_eab7d"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_4f546"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/DYDX/" rel="noopener" target="_blank"><span class="blue-text">DYDXチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "DYDX",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_4f546"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container item">
  <div id="tradingview_ce0f0"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/CELOUSD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">CELOUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": "100%",
  "height": 400,
  "symbol": "BINANCE:CELOUSD",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_ce0f0"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
</div>
