<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_b461f"></div>
  <div class="tradingview-widget-copyright">TradingView提供の<a href="https://jp.tradingview.com/symbols/{{ .Get 0 }}/?exchange={{ .Get 1 }}" rel="noopener" target="_blank"><span class="blue-text">SOLUSDチャート</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 680,
  "height": 610,
  "symbol": "{{ .Get 1 }}:{{ .Get 0 }}",
  "interval": "D",
  "timezone": "Asia/Tokyo",
  "theme": "dark",
  "style": "1",
  "locale": "ja",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "allow_symbol_change": true,
  "studies": [
    "Volume@tv-basicstudies",
    "MASimple@tv-basicstudies"
  ],
  "container_id": "tradingview_b461f"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
